.dropdown {
  position: absolute;
}
.app-title {
  font-family: "Mansalva", cursive;
  color: rgb(189, 189, 189) !important;
}

.custom-navbar {
  background-color: #333333 !important;
}

.full-size {
  display: flex !important;
  align-self: center;
  justify-self: center;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  border: #1f1f1f;
  background-color: rgb(29, 29, 29);
  color: rgb(230, 230, 230);
  white-space: pre;
  width: 95%;
  font-family: "Fira Code", monospace;
  outline: none;
  resize: none;
  font-size: 1rem;
  overflow-x: auto;
  display: inline;
  height: 72vh;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

div.custom-card {
  border-radius: 5em;
  border-style: solid;
  border-width: 1px;
  border: #1f1f1f;
  background-color: rgb(29, 29, 29);
  overflow: hidden;
}

button.btn-secondary {
  border: #1f1f1f;
  background-color: rgb(29, 29, 29);
  color: rgb(189, 189, 189) !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  border: #1f1f1f;
  background-color: rgb(22, 22, 22);
  color: rgb(189, 189, 189) !important;
}

button.btn-secondary-revert {
  border: #1f1f1f;
  background-color: rgb(51, 51, 51);
  color: rgb(189, 189, 189) !important;
}

.btn-secondary-revert,
.btn-secondary-revert:hover,
.btn-secondary-revert:focus {
  border: #1f1f1f;
  background-color: rgb(22, 22, 22);
  color: rgb(189, 189, 189) !important;
  box-shadow: none;
}

.custom-nav {
  -webkit-box-shadow: 6px 10px 22px -10px rgba(138, 133, 138, 1);
  -moz-box-shadow: 6px 10px 22px -10px rgba(138, 133, 138, 1);
  /* box-shadow: 3px 3px 13px -10px rgba(77, 77, 77, 0.699); */
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.modal-header {
  border: 0;
  padding: 0.75rem 0.75rem 0 0.75rem !important;
}
.modal-footer {
  border: 0;
  padding: 0 0.75rem 0.75rem 0.75rem !important;
}
.modal-content {
  background-color: #292929 !important;
  color: rgb(189, 189, 189) !important;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 18rem !important;
  color: rgb(189, 189, 189) !important;
  background-color: rgb(29, 29, 29);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  width: 18rem !important;
  color: rgb(189, 189, 189) !important;
  background-color: rgb(29, 29, 29);
  border-color: rgb(189, 189, 189);
  box-shadow: none !important;
}

.form-control:disabled + :focus,
.form-control[readonly],
.form-control[readonly]:focus {
  width: 18rem !important;
  color: rgb(189, 189, 189) !important;
  background-color: rgb(90, 90, 90);
  border-color: rgb(189, 189, 189);
  box-shadow: none !important;
}

div.card {
  background-color: rgb(29, 29, 29);
  color: rgb(189, 189, 189) !important;
}

.bg-card-secondary {
  background-color: rgb(44, 44, 44);
}
a,
a:hover,
active,
visited {
  text-decoration: none;
}

.full-size-textarea {
  display: flex !important;
  border-style: solid;
  border-width: 1px;
  border: #1f1f1f;
  background-color: transparent;
  color: rgb(230, 230, 230);
  white-space: pre;
  width: 100%;
  font-family: "Fira Code", monospace;
  outline: none;
  resize: vertical;
  font-size: 1rem;
  overflow: auto;
  display: inline;
  height: 30vh;
  max-height: 100vh;
}

footer.page-footer {
  bottom: 0;
}

i.social-icons {
  font-size: 30px;
  color: black !important;
}

a.social-custom-link {
  text-decoration: none;
}
img.bmc {
  max-height: 50px !important;
  max-width: 160px !important;
  color: #000;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
